* {
    font-family: monospace;
}

body {
    background-color:rgb(255, 219, 225);
}

header {
    position: sticky;
    top: 0;
}

form {
    width: 600px;
    margin-left: 100px;
}

a:link { 
    text-decoration: none; 
    color: black;
} 

a:visited { 
    text-decoration: none; 
    color: black;
}

a:hover, a:active {
    color: rgb(106, 203, 225);
}

#head {
    background-color:rgb(255, 181, 193);
    height: 60px;
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: 40px;
}

#logotekst {
    padding-top: 10px;
    font-size: 25px;
}

#logo {
    background-color: rgb(255, 141, 160);
    width: 200px;
    height: 55px;
    margin-left: 170px;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-left: 10px;
}

#logotekst {
    padding-top: 10px;
    font-size: 25px;
}

.row > div {
    height: 25px; 
}

.row  {
    text-align: left;
    margin-left: 120px; 
    line-height: 5px;
    font-size: 15px;
}

.left  {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 15px;
    width: 30%;
}

.right  {
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 70%;
}

#type {
    font-size: 20px;
    margin-left: 120px;
    margin-bottom: -10px;
}

#voornaam {
    padding-left: 3px;
    width: 113px;
    height: 20px;
}

#Tussenv {
    padding-left: 3px;
    width: 50px;
    height: 20px;
}

#Achternaam {
    padding-left: 3px;
    width: 113px;
    height: 20px;
}

#straat {
    height: 20px;
}

#postcode {
    padding-left: 3px;
    height: 20px;
}

#huisnummer {
    padding-left: 3px;
    height: 20px;
    width: 45px;
}

#woonplaats {
    height: 20px;
}

#toev {
    padding-left: 3px;
    height: 20px;
    width: 40px;
}

#emailadres {
    width: 200px;
    height: 20px;
}

#telefoonnummer {
    width: 110px;
    height: 20px;
}

#verderbalk {
    margin-top: 30px;
    text-align: left;
}

#verder {
    height: 30px;
    width: 70px;
    background-color:rgb(255, 181, 193);
    border: 1px solid black;
}
