* {
    font-family: monospace;
}

body {
    background-color:rgb(255, 219, 225);
}

header {
    position: sticky;
    top: 0;
}

#head {
    background-color:rgb(255, 181, 193);
    height: 60px;
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: 30px;
}

#logo {
    background-color: rgb(255, 141, 160);
    width: 200px;
    height: 55px;
    margin-left: 170px;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-left: 10px;
}

#logotekst {
    padding-top: 10px;
    font-size: 25px;
}

#navigatie {
    margin-top: -45px;
    margin-left: 1050px;
}

#mand {
    margin-left: 1210px;
    margin-top: -27px;
    display: flex;
}

#info {
    font-size: 25px;
    margin-top: 50px;
    margin-left: 320px;
    line-height: 0px;
}

#home {
    margin-top: -80px;
    margin-left: 90px;
}

#product {
    margin-top: -25px;
    margin-left: 160px;
}

#search {
    height: 25px;
    width: 150px;
}


a:link { 
    text-decoration: none; 
    color: black;
} 

a:visited { 
    text-decoration: none; 
    color: black;
}

a:hover, a:active {
    color: rgb(106, 203, 225);
}
   
#sc {
    margin-top: 200px;
    background-color: rgb(255, 181, 193);
    width: 95%;
    height: 120px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 20px;
}

#contact {
    font-size: 20px;
    margin-right: 30px;
}

#klantenService {
    margin-left: 200px;
}

#fotos {
    margin-left: 230px;
    margin-top: 15px;
    margin-bottom: -100px;
    height: 330px;
    width: 500px;
    padding: 20px;
    border: rgb(106, 203, 225) solid 2px;
    border-radius: 1rem;

}

#productinfo {
    margin-left: 800px;
    font-size: 1.5rem;
}

#productdetails {
    margin-left: 800px;
    font-size: 1.2rem;
}

#winkelmandje {
    margin-top: 30px;
    margin-left: 800px;
    width: 100px;
    height: 30px;
}